.header
  position absolute
  top 0px
  left 0px
  width 900px
  height 20px
  .backbutton
    transition left 0.4s, opacity 0.4s
    &.disabled
      opacity 0
      left -80px
  h1
    position absolute
    font-size 24px
    left 90px
    color ColorHeadingLink
    opacity 1
    transition left 0.4s, opacity 0.4s
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    padding 6px 0px
    height 35px
    &.old
      left 0px
      opacity 0
  ul
    list-style-type none
    margin 0px
    padding 0px
    left 75px
    position absolute
    top 65px
    width 550px
    opacity 1
    transition left 0.4s, opacity 0.4s
    &.old
      left -5px
      opacity 0
    li
      position relative
      padding 2px 0px 2px 15px
      color #333
      font-variant small-caps
      opacity 1
      transition opacity 0.4s
      background rgba(255,255,255,0.5)
      &.old
      &.new
        opacity 0
      &.sum
        display none
      &:hover
      &.active
        color black
        font-weight bold
        cursor pointer
      &.noClick:hover
        cursor not-allowed !important
      div
        position absolute
        left 0px
        top 9px
        width 8px
        height 4px
      .value
        display none
  &.valuesDisplayed
    ul
      li
        float left
        clear left
        .title
          width 360px
          white-space nowrap
          display block
          float left
          clear left
          overflow hidden
          text-overflow ellipsis
        .value
          width 140px
          display block
          float left
          text-align right
        &.sum
          width 515px
          font-weight bold
          display list-item
          text-align right
          span
            display block
            float right
            width 140px
            padding-top 4px
            border-top 1px solid #666
  .valueHeader
    position absolute
    top 45px
    font-variant small-caps
    left 390px
    font-weight bold
    width 200px
    text-align right
