@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import backbutton
  @import Header
  @import Suggester
.ig
  .impExpGraph
    position absolute
    top 60px
    .axis
      font-variant small-caps
      .domain
        fill black
      .tick line
        stroke black
    g.drawing
      path
        cursor pointer
        &.noClick
          cursor not-allowed
